NODE_ENV=development
PORT=4000
CORS_ORIGINS=http://localhost:5173
BACKEND_STORAGE=memory
MATCHMAKING_BACKEND=memory
CHAIN_ADAPTER=mock
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/suichin
REDIS_URL=redis://localhost:6379
ORACLE_API_KEY=
SUI_NETWORK=devnet
SUI_RPC_URL=https://fullnode.devnet.sui.io:443
SUI_PACKAGE_ID=0xf057bdceaab0bf96a661bfbdf326ae5e6b476fae978f7b1fff629aecf894d5a6
SUI_MATCH_ORACLE_ID=0x582364170a41682108abbca6976f3bd813336530a3745d62014a3370dae415e8
LOBBY_CONFIG_OBJECT_ID=0xabc6d0569b20fbf830045ddbec0d2e7cd665ff538f89811ea11a53dbe0017688
LOBBY_PACKAGE_ID=0xf057bdceaab0bf96a661bfbdf326ae5e6b476fae978f7b1fff629aecf894d5a6
LOBBY_SIGNER_SECRET_KEY=<SET_LOCAL_SUPRIVKEY>
ADMIN_SECRET_KEY=
SUI_CLI_BIN=sui
SUI_CLI_CONFIG_PATH=
SUI_CLI_GAS_BUDGET=100000000
SUI_ORACLE_SENDER=
